<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>TradingPlatform</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/myoracle</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>FirstJsp</servlet-name>
    <jsp-file>/WEB-INF/TPLogin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstJsp</servlet-name>
    <url-pattern>/TPLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.fdmgroup.tradingplatform.controllers.LoginInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/LoginInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterJsp</servlet-name>
    <jsp-file>/WEB-INF/TPregister.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterJsp</servlet-name>
    <url-pattern>/TPregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.fdmgroup.tradingplatform.controllers.RegisterInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterinfoJsp</servlet-name>
    <jsp-file>/WEB-INF/Registersuccess.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterinfoJsp</servlet-name>
    <url-pattern>/Registersuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FailJsp</servlet-name>
    <jsp-file>/WEB-INF/Loginfail.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>FailJsp</servlet-name>
    <url-pattern>/Loginfail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShLoginJsp</servlet-name>
    <servlet-class>com.fdmgroup.tradingplatform.controllers.ShLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShLoginJsp</servlet-name>
    <url-pattern>/ShLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShRoleLoginJsp</servlet-name>
    <jsp-file>/WEB-INF/ShRoleLog.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShRoleLoginJsp</servlet-name>
    <url-pattern>/ShRoleLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdLoginJsp</servlet-name>
    <servlet-class>com.fdmgroup.tradingplatform.controllers.AdLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdLoginJsp</servlet-name>
    <url-pattern>/AdLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdRoleLoginJsp</servlet-name>
    <jsp-file>/WEB-INF/AdRoleLog.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdRoleLoginJsp</servlet-name>
    <url-pattern>/AdRoleLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogOffJsp</servlet-name>
    <jsp-file>/WEB-INF/LogOff.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOffJsp</servlet-name>
    <url-pattern>/LogOff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TwoLoginJsp</servlet-name>
    <servlet-class>com.fdmgroup.tradingplatform.controllers.TwoLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwoLoginJsp</servlet-name>
    <url-pattern>/TwoLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TwoRoleLoginJsp</servlet-name>
    <jsp-file>/WEB-INF/TwoRolesLog.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwoRoleLoginJsp</servlet-name>
    <url-pattern>/TwoRolesLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestPageJsp</servlet-name>
    <servlet-class>com.fdmgroup.tradingplatform.controllers.RequestPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestPageJsp</servlet-name>
    <url-pattern>/RequestPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestJsp</servlet-name>
    <jsp-file>/WEB-INF/MakeRequest.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestJsp</servlet-name>
    <url-pattern>/MakeRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestServlet</servlet-name>
    <servlet-class>com.fdmgroup.tradingplatform.controllers.RequestInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestServlet</servlet-name>
    <url-pattern>/RequestInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestsuccessJsp</servlet-name>
    <jsp-file>/WEB-INF/Requestsuccess.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestsuccessJsp</servlet-name>
    <url-pattern>/Requestsuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestPageServlet</servlet-name>
    <servlet-class>com.fdmgroup.tradingplatform.controllers.ViewRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestPageServlet</servlet-name>
    <url-pattern>/ViewRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestInfoJsp</servlet-name>
    <jsp-file>/WEB-INF/AllRequestInfo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestInfoJsp</servlet-name>
    <url-pattern>/AllRequestInfo</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>TradePageServlet</servlet-name>
    <servlet-class>com.fdmgroup.tradingplatform.controllers.ViewTrade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TradePageServlet</servlet-name>
    <url-pattern>/ViewTrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TradeInfoJsp</servlet-name>
    <jsp-file>/WEB-INF/AllTradeInfo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>TradeInfoJsp</servlet-name>
    <url-pattern>/AllTradeInfo</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>PortfolioPageServlet</servlet-name>
    <servlet-class>com.fdmgroup.tradingplatform.controllers.ViewPortfolio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PortfolioPageServlet</servlet-name>
    <url-pattern>/ViewPortfolio</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PortfolioInfoJsp</servlet-name>
    <jsp-file>/WEB-INF/PortfolioInfo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PortfolioInfoJsp</servlet-name>
    <url-pattern>/PortfolioInfo</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>javax.persistence.RollbackException</exception-type>
    <location>/WEB-INF/500.jsp</location>
  </error-page>
</web-app>